<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>结算页面</title>

		<link th:href="@{/css/amazeui.css}" rel="stylesheet" type="text/css" />

		<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/cartstyle.css}" rel="stylesheet" type="text/css" />

		<link th:href="@{/css/jsstyle.css}" rel="stylesheet" type="text/css" />

		<script type="text/javascript" th:src="@{/js/address.js}"></script>

		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script th:src="@{/js/jquery.cookie.js}"></script>
		<script th:src="@{/js/login_info.js}"></script>
	</head>

	<body>

	<!--引入顶部-->
		<div th:replace="header::html" ></div>
			<div class="concent">
				<!--隐藏的表单用于提交数据 -->
				<form id="orderForm" class="hide" action="/order/create.html"
					  method="post">
					<input type="hidden" name="paymentType" value="2" /> <input
						type="hidden" name="postFee" value="10" />
					<div th:each="cart,status : ${cartList}">
					<!--<c:forEach items="${cartList }" var="cart" varStatus="status">-->
						<input type="hidden" th:name="@{orderItems[{statusIndex}].itemId(statusIndex=${status.index})}"
							   th:value="${cart.id}" />
						<input type="hidden" th:name="@{orderItems[{statusIndex}].num(statusIndex=${status.index})}"
							   th:value="${cart.num }" />
						<input type="hidden" th:name="@{orderItems[{statusIndex}].price(statusIndex=${status.index})}"
							   th:value="${cart.price}" />
						<input type="hidden" th:name="@{orderItems[{statusIndex}].totalFee(statusIndex=${status.index})}"
							   th:value="${cart.price * cart.num}" />
						<input type="hidden" th:name="@{orderItems[{statusIndex}].title(statusIndex=${status.index})}"
							   th:value="${cart.title}" />
						<input type="hidden" th:name="@{orderItems[{statusIndex}].picPath(statusIndex=${status.index})}"
							   th:value="${cart.image}" />
					<!--</c:forEach>-->
					</div>
					<input type="hidden" name="orderShipping.receiverName"
						   value="beloved" /> <input type="hidden"
													 name="orderShipping.receiverMobile" value="13226122000" /> <input
						type="hidden" name="orderShipping.receiverState" value="广东省" /> <input
						type="hidden" name="orderShipping.receiverCity" value="深圳" /> <input
						type="hidden" name="orderShipping.receiverDistrict" value="龙岗区" />
					<input type="hidden" name="orderShipping.receiverAddress"
						   value="龙翔大道2188号(深圳信息职业技术学院)" /> <input type="hidden"
																   name="payment"
																   value="${totalPrice }" />
				</form>
				<!--地址 -->
				<div class="paycont">
					<div class="address">
						<h3>确认收货地址</h3>
						<div class="control">
							<div class="tc-btn createAddr theme-login am-btn am-btn-danger">使用新地址</div>
						</div>
						<div class="clear"></div>
						<ul>
							<div class="per-border"></div>
							<li class="user-addresslist defaultAddr">

								<div class="address-left">
									<div class="user DefaultAddr">

									<span class="buy-address-detail"> <span class="buy-user">beloved
									</span> <span class="buy-phone">13226122000</span>
									</span>
									</div>
									<div class="default-address DefaultAddr">
										<span class="buy-line-title buy-line-title-type">收货地址：</span> <span
											class="buy--address-detail"> <span class="province">广东</span>省
										<span class="city">深圳</span>市 <span class="dist">龙岗</span>区 <span
												class="street">龙翔大道2188号(深圳信息职业技术学院)</span>
									</span> </span>
									</div>
									<ins class="deftip">默认地址</ins>
								</div>
								<div class="address-right">
									<a href="../../person/address.html"> <span
											class="am-icon-angle-right am-icon-lg"></span></a>
								</div>
								<div class="clear"></div>

								<div class="new-addr-btn">
									<a href="#" class="hidden">设为默认</a> <span
										class="new-addr-bar hidden">|</span> <a href="#">编辑</a> <span
										class="new-addr-bar">|</span> <a href="javascript:void(0);"
																		 onclick="delClick(this);">删除</a>
								</div>

							</li>
							<div class="per-border"></div>
							<li class="user-addresslist">
								<div class="address-left">
									<div class="user DefaultAddr">

									<span class="buy-address-detail"> <span class="buy-user">beloved
									</span> <span class="buy-phone">15877777777</span>
									</span>
									</div>
									<div class="default-address DefaultAddr">
										<span class="buy-line-title buy-line-title-type">收货地址：</span> <span
											class="buy--address-detail"> <span class="province">广东</span>省
										<span class="city">深圳</span>市 <span class="dist">龙岗</span>区 <span
												class="street">龙翔大道2188号(深圳信息职业技术学院)</span>
									</span> </span>
									</div>
									<ins class="deftip hidden">默认地址</ins>
								</div>
								<div class="address-right">
									<span class="am-icon-angle-right am-icon-lg"></span>
								</div>
								<div class="clear"></div>

								<div class="new-addr-btn">
									<a href="#">设为默认</a> <span class="new-addr-bar">|</span> <a
										href="#">编辑</a> <span class="new-addr-bar">|</span> <a
										href="javascript:void(0);" onclick="delClick(this);">删除</a>
								</div>

							</li>

						</ul>

						<div class="clear"></div>
					</div>
					<!--物流 -->
					<div class="logistics">
						<h3>选择物流方式</h3>
						<ul class="op_express_delivery_hot">
							<li data-value="yuantong" class="OP_LOG_BTN  "><i
									class="c-gap-right" style="background-position:0px -468px"></i>圆通<span></span></li>
							<li data-value="shentong" class="OP_LOG_BTN  "><i
									class="c-gap-right" style="background-position:0px -1008px"></i>申通<span></span></li>
							<li data-value="yunda" class="OP_LOG_BTN  "><i
									class="c-gap-right" style="background-position:0px -576px"></i>韵达<span></span></li>
							<li data-value="zhongtong"
								class="OP_LOG_BTN op_express_delivery_hot_last "><i
									class="c-gap-right" style="background-position:0px -324px"></i>中通<span></span></li>
							<li data-value="shunfeng"
								class="OP_LOG_BTN  op_express_delivery_hot_bottom"><i
									class="c-gap-right" style="background-position:0px -180px"></i>顺丰<span></span></li>
						</ul>
					</div>
					<div class="clear"></div>

					<!--支付方式-->
					<div class="logistics">
						<h3>选择支付方式</h3>
						<ul class="pay-list">
							<li class="pay card"><img
									src="../../images/wangyin.jpg" />银联<span></span></li>
							<li class="pay qq"><img
									src="../../images/weizhifu.jpg" />微信<span></span></li>
							<li class="pay taobao"><img
									src="../../images/zhifubao.jpg" />支付宝<span></span></li>
						</ul>
					</div>
					<div class="clear"></div>

					<!--订单 -->
					<div class="concent">
						<div id="payTable">
							<h3>确认订单信息</h3>
							<div class="cart-table-th">
								<div class="wp">

									<div class="th th-item">
										<div class="td-inner">商品信息</div>
									</div>
									<div class="th th-price">
										<div class="td-inner">单价</div>
									</div>
									<div class="th th-amount">
										<div class="td-inner">数量</div>
									</div>
									<div class="th th-sum">
										<div class="td-inner">金额</div>
									</div>
									<div class="th th-oplist">
										<div class="td-inner">配送方式</div>
									</div>

								</div>
							</div>
							<div class="clear"></div>
							<!--<c:forEach items="${cartList }" var="cart" varStatus="status">-->
                            <div th:each="cart : ${cartList}">
								<tr class="item-list">
									<div class="bundle  bundle-last">
										<div class="bundle-main">
											<ul class="item-content clearfix">
												<div class="pay-phone">
													<li class="td td-item">
														<div class="item-pic">
															<a th:href="@{http://localhost:8086/item/{itemId}.html(itemId=${cart.id})}"
															   class="J_MakePoint"> <img th:src="${cart.image} "
																						 class="itempic J_ItemImg" style="width:80px;hegiht:80px"></a>
														</div>
														<div class="item-info">
															<div class="item-basic-info">
																<a th:href="@{http://localhost:8086/item/{itemId}.html(itemId=${cart.id})}"
																   class="item-title J_MakePoint" data-point="tbcart.8.11" th:text="${cart.title }">${cart.title }</a>
															</div>
														</div>
													</li>
													<li class="td td-info">
														<div class="item-props">
															<span class="sku-line">口味：12#原味</span> <span
																class="sku-line">包装：手袋单人份</span>
														</div>
													</li>
													<li class="td td-price">
														<div class="item-price price-promo-promo">
															<div class="price-content">
																<em class="J_Price price-now" th:text="${cart.price / 100 }">${cart.price / 100 }</em>
															</div>
														</div>
													</li>
												</div>
												<li class="td td-amount">
													<div class="amount-wrapper ">
														<div class="item-amount ">
															<span class="phone-title">购买数量</span>
															<div class="sl" th:text="${cart.num}">${cart.num}</div>
														</div>
													</div>
												</li>
												<li class="td td-sum">
													<div class="td-inner">
														<em tabindex="0" class="J_ItemSum number" th:text="${cart.price* cart.num / 100 }">${cart.price* cart.num / 100 }</em>
													</div>
												</li>
												<li class="td td-oplist">
													<div class="td-inner">
														<span class="phone-title">配送方式</span>
														<div class="pay-logis">包邮</div>
													</div>
												</li>

											</ul>
											<div class="clear"></div>
										</div>
									</div>
								</tr>
							</div>
							<!--</c:forEach>-->
							<div class="clear"></div>
							<!--</div>-->

							<!--</div>-->
							<div class="clear"></div>
							<div class="pay-total">
								<!--留言-->
								<div class="order-extra">
									<div class="order-user-info">
										<div id="holyshit257" class="memo">
											<label>买家留言：</label> <input type="text"
																		title="选填,对本次交易的说明（建议填写已经和卖家达成一致的说明）"
																		placeholder="选填,建议填写和卖家达成一致的说明"
																		class="memo-input J_MakePoint c2c-text-default memo-close">
											<div class="msg hidden J-msg">
												<p class="error">最多输入500个字符</p>
											</div>
										</div>
									</div>

								</div>
								<!--优惠券 -->
								<div class="buy-agio">
									<li class="td td-coupon"><span class="coupon-title">优惠券</span>
										<select data-am-selected>
											<option value="a">
												<div class="c-price">
													<strong>￥8</strong>
												</div>
												<div class="c-limit">【消费满95元可用】</div>
											</option>
											<option value="b" selected>
												<div class="c-price">
													<strong>￥3</strong>
												</div>
												<div class="c-limit">【无使用门槛】</div>
											</option>
										</select></li>

									<li class="td td-bonus"><span class="bonus-title">红包</span>
										<select data-am-selected>
											<option value="a">
												<div class="item-info">
													¥50.00<span>元</span>
												</div>
												<div class="item-remainderprice">
													<span>还剩</span>10.40<span>元</span>
												</div>
											</option>
											<option value="b" selected>
												<div class="item-info">
													¥50.00<span>元</span>
												</div>
												<div class="item-remainderprice">
													<span>还剩</span>50.00<span>元</span>
												</div>
											</option>
										</select></li>

								</div>
								<div class="clear"></div>
							</div>
							<!--含运费小计 -->
							<div class="buy-point-discharge ">
								<p class="price g_price ">
									合计（含运费） <span>¥</span><em class="pay-sum" th:text="${totalPrice / 100 }">${totalPrice / 100 }</em>
								</p>
							</div>

							<!--信息 -->
							<div class="order-go clearfix">
								<div class="pay-confirm clearfix">
									<div class="box">
										<div tabindex="0" id="holyshit267" class="realPay">
											<em class="t">实付款：</em> <span class="price g_price "> <span>¥</span>
											<em class="style-large-bold-red " id="J_ActualFee"  th:text="${totalPrice / 100 }">${totalPrice / 100 }</em>
										</span>
										</div>

										<div id="holyshit268" class="pay-address">

											<p class="buy-footer-address">
												<span class="buy-line-title buy-line-title-type">寄送至：</span>
												<span class="buy--address-detail"> <span
														class="province">广东</span>省 <span class="city">深圳</span>市 <span
														class="dist">龙岗</span>区 <span class="street">龙翔大道2188号(深圳信息职业技术学院)</span>
											</span> </span>
											</p>
											<p class="buy-footer-address">
												<span class="buy-line-title">收货人：</span> <span
													class="buy-address-detail"> <span class="buy-user">beloved</span>
												<span class="buy-phone">13226122000</span>
											</span>
											</p>
										</div>
									</div>

									<div id="holyshit269" class="submitOrder">
										<div class="go-btn-wrap">
											<a id="J_Go" href="#" onclick="$('#orderForm').submit()"
											   class="btn-go" tabindex="0" title="点击此按钮，提交订单">提交订单</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a> <b>|</b> <a href="#">商城首页</a> <b>|</b> <a
								href="#">支付宝</a> <b>|</b> <a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a> <a href="#">合作伙伴</a> <a href="#">联系我们</a> <a
								href="#">网站地图</a> <em>© 2015-2025 Hengwang.com 版权所有</em>
						</p>
					</div>
				</div>
			</div>
	<div class="theme-popover-mask"></div>
	<div class="theme-popover">

		<!--标题 -->
		<div class="am-cf am-padding">
			<div class="am-fl am-cf">
				<strong class="am-text-danger am-text-lg">新增地址</strong> / <small>Add
				address</small>
			</div>
		</div>
		<hr />

		<div class="am-u-md-12">
			<form class="am-form am-form-horizontal">

				<div class="am-form-group">
					<label for="user-name" class="am-form-label">收货人</label>
					<div class="am-form-content">
						<input type="text" id="user-name" placeholder="收货人">
					</div>
				</div>

				<div class="am-form-group">
					<label for="user-phone" class="am-form-label">手机号码</label>
					<div class="am-form-content">
						<input id="user-phone" placeholder="手机号必填" type="email">
					</div>
				</div>

				<div class="am-form-group">
					<label for="user-phone" class="am-form-label">所在地</label>
					<div class="am-form-content address">
						<select data-am-selected>
							<option value="a">广东省</option>
							<option value="b">湖北省</option>
						</select> <select data-am-selected>
						<option value="a">深圳市</option>
						<option value="b">武汉市</option>
					</select> <select data-am-selected>
						<option value="a">龙岗区</option>
						<option value="b">洪山区</option>
					</select>
					</div>
				</div>

				<div class="am-form-group">
					<label for="user-intro" class="am-form-label">详细地址</label>
					<div class="am-form-content">
						<textarea class="" rows="3" id="user-intro" placeholder="输入详细地址"></textarea>
						<small>100字以内写出你的详细地址...</small>
					</div>
				</div>

				<div class="am-form-group theme-poptit">
					<div class="am-u-sm-9 am-u-sm-push-3">
						<div class="am-btn am-btn-danger">保存</div>
						<div class="am-btn am-btn-danger close">取消</div>
					</div>
				</div>
			</form>
		</div>

	</div>

	<div class="clear"></div>
	<!--菜单 -->
	<div class=tip>
		<div id="sidebar">
			<div id="wrap">
				<div id="prof" class="item">
					<a href="#"> <span class="setting"></span>
					</a>
					<div class="ibar_login_box status_login">
						<div class="avatar_box">
							<p class="avatar_imgbox">
								<img src="../../images/no-img_mid_.jpg" />
							</p>
							<ul class="user_info">
								<li>用户名：sl1903</li>
								<li>级&nbsp;别：普通会员</li>
							</ul>
						</div>
						<div class="login_btnbox">
							<a href="#" class="login_order">我的订单</a> <a href="#"
																		class="login_favorite">我的收藏</a>
						</div>
						<i class="icon_arrow_white"></i>
					</div>

				</div>
				<div id="shopCart" class="item">
					<a href="#"> <span class="message"></span>
					</a>
					<p>购物车</p>
					<p class="cart_num">0</p>
				</div>
				<div id="asset" class="item">
					<a href="#"> <span class="view"></span>
					</a>
					<div class="mp_tooltip">
						我的资产 <i class="icon_arrow_right_black"></i>
					</div>
				</div>

				<div id="foot" class="item">
					<a href="#"> <span class="zuji"></span>
					</a>
					<div class="mp_tooltip">
						我的足迹 <i class="icon_arrow_right_black"></i>
					</div>
				</div>

				<div id="brand" class="item">
					<a href="#"> <span class="wdsc"><img
							src="../../images/wdsc.png" /></span>
					</a>
					<div class="mp_tooltip">
						我的收藏 <i class="icon_arrow_right_black"></i>
					</div>
				</div>

				<div id="broadcast" class="item">
					<a href="#"> <span class="chongzhi"><img
							src="../../images/chongzhi.png" /></span>
					</a>
					<div class="mp_tooltip">
						我要充值 <i class="icon_arrow_right_black"></i>
					</div>
				</div>

				<div class="quick_toggle">
					<li class="qtitem"><a href="#"><span class="kfzx"></span></a>
						<div class="mp_tooltip">
							客服中心<i class="icon_arrow_right_black"></i>
						</div></li>
					<!--二维码 -->
					<li class="qtitem"><a href="#none"><span
							class="mpbtn_qrcode"></span></a>
						<div class="mp_qrcode" style="display:none;">
							<img src="../../images/weixin_code_145.png" /><i
								class="icon_arrow_white"></i>
						</div></li>
					<li class="qtitem"><a href="#top" class="return_top"><span
							class="top"></span></a></li>
				</div>

				<!--回到顶部 -->
				<div id="quick_links_pop" class="quick_links_pop hide"></div>

			</div>

		</div>
		<div id="prof-content" class="nav-content">
			<div class="nav-con-close">
				<i class="am-icon-angle-right am-icon-fw"></i>
			</div>
			<div>我</div>
		</div>
		<div id="shopCart-content" class="nav-content">
			<div class="nav-con-close">
				<i class="am-icon-angle-right am-icon-fw"></i>
			</div>
			<div>购物车</div>
		</div>
		<div id="asset-content" class="nav-content">
			<div class="nav-con-close">
				<i class="am-icon-angle-right am-icon-fw"></i>
			</div>
			<div>资产</div>

			<div class="ia-head-list">
				<a href="#" target="_blank" class="pl">
					<div class="num">0</div>
					<div class="text">优惠券</div>
				</a> <a href="#" target="_blank" class="pl">
				<div class="num">0</div>
				<div class="text">红包</div>
			</a> <a href="#" target="_blank" class="pl money">
				<div class="num">￥0</div>
				<div class="text">余额</div>
			</a>
			</div>

		</div>
		<div id="foot-content" class="nav-content">
			<div class="nav-con-close">
				<i class="am-icon-angle-right am-icon-fw"></i>
			</div>
			<div>足迹</div>
		</div>
		<div id="brand-content" class="nav-content">
			<div class="nav-con-close">
				<i class="am-icon-angle-right am-icon-fw"></i>
			</div>
			<div>收藏</div>
		</div>
		<div id="broadcast-content" class="nav-content">
			<div class="nav-con-close">
				<i class="am-icon-angle-right am-icon-fw"></i>
			</div>
			<div>充值</div>
		</div>
	</div>
	</body>

</html>